<section class="header">
    <h1 class="pl-3">Tech Talk Time</h1>
</section>

<section class="post">
  <section class="post-header">
    <h3 class="title">Login</h3>
  </section>

  <form class="form login-form content">
      <label for="user-login">Username:</label>
      <section class="mb-3">
        <input class="form-input" type="text" id="user-login" />
      </section>
      <label for="password-login">Password:</label>
      <section class="mb-3">
        <input class="form-input" type="password" id="password-login" />
      </section>
      <button class="submit-btn btn" type="submit">Login</button>
  </form>
  <a href="/signup" class="access">Sign up instead!</a>
</section>

<script src="./js/login.js"></script>