<section class="header">
    <h1 class="pl-3">My Dashboard</h1>
</section>
<section class="post">
    <section class="post-header">
        <h3 class="title">Create New Post</h3>
    </section>

    <form class="form content create-form">
        <label for="post-title">Title:</label>
        <section class="mb-3">
            <input type="text" name="title" placeholder="title" id="post-title" class="form-input">
        </section>
        <label for="post-content">Content:</label>
        <section class="mb-3">
            <textarea name="content" cols="30" rows="10" id="post-content" class="form-input"></textarea>
        </section>
        <button type="submit" class="submit-btn btn" id="create-btn">Submit</button>
    </form>
</section>

<script src="./js/post.js"></script>