<section class="header">
    <h1 class="pl-3">Time for a Tech Blog</h1>
</section>

<section class="post">
  <section class="post-header">
    <h3 class="title">Signup</h3>
  </section>

  <form class="form signup-form content">
      <label for="user-signup">Username:</label>
      <section class="mb-3">
        <input class="form-input" type="text" id="user-signup" />
      </section>
      <label for="password-signup">Password:</label>
      <section class="mb-3">
        <input class="form-input" type="password" id="password-signup" />
      </section>
      <button class="submit-btn btn" type="submit">Signup</button>
  </form>
  <a href="/login" class="access">Log in instead!</a>
</section>

<script src="./js/signup.js"></script>